@import "//cdn.rawgit.com/Cead115/malGD.github.io/master/fonts/Binggrae.css";
#right-search-form{padding:20px 0 0}body,html{height:auto !important;font-family:'Binggrae',sans-serif;font-size:14px}
header .row>div:nth-child(1)>a img{opacity:0}

header > #header-area > a > h1 {
    background: url(https://cead115.github.io/malGD.github.io/MB_logo.png) no-repeat;
    background-size: 90px 32px;
}

header {
    width: 100%;
    border-bottom: 4px solid #66a7ff;
    text-align: center;
    padding: 4px 0;
    height: 50px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3000;
    background:#cde2ff;
    transition: top 0.2s ease-in-out;
}

header>#header-area>#header-bar-link {
    display: inline-block;
    float: left;
    color: #66a7ff;
    font-size: 24px;
    padding: 0 16px 8px;
}

header>#header-area>#header-search-link {
    display: inline-block;
    float: right;
    color: #66a7ff;
    font-size: 24px;
    padding: 0 16px 8px;
}

#board-info {
    width: 100%;
    line-height: 1;
    margin: 0;
    background: #fff;
    border-top: 3px solid #66a7ff;
    border-bottom: 3px solid #66a7ff;
}

.badge {
    display: inline-block;
    min-width: 10px;
    padding: 3px 7px;
    font-size: 12px;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    background-color: #66a7ff;
    border-radius: 10px;
}

#board-info #viewers-area {
    font-size: 14px;
    color: #31708f;
    font-weight: normal;
    vertical-align: middle;
    line-height: 18px;
    display: inline-block;
}

#board-info>a.board-right-menu {
    display: inline-block;
    padding: 12px;
    border-left: 2px solid #66a7ff;
    float: right;
    font-size: 16px;
    color: #000;
    text-decoration: none;
}

#article-list>.article-list-row.notice {
    background-color: #cde2ff;
}

#article-list>.article-list-row>.item>a.list-title>small.comment-count {
    font-size: 13px;
    font-weight: bold;
    color: #0044a0;
    word-break: break-word;
    line-height: 20px;
    vertical-align: middle;
    display: inline-block;
}

#article-list>.article-list-row>.item>.list-header>span {
    background-color: #0044a0;
    color: #fff;
    font-weight: bold;
    padding: 1px 5px;
    font-size: 11px;
    border-radius: 100px;
}

#article-list>.article-list-row>.item>a.list-title>.list-writer.logged>span {
    color: #0044a0;
    font-weight: bold;
}

#article-list #article-list-category {
    background: #cde2ff;
    width: 100%;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
}

.fa-thumbs-up:before {
    content: "\f005";
}

.btn-outline-success {
    color: #0a7c0f;
    background-image: none;
    background-color: transparent;
    border-color: #0a7c0f;
}

.fa-thumbs-down:before {
    content: "\f119";
}

.btn-outline-primary {
    color: #FF0000;
    background-image: none;
    background-color: transparent;
    border-color: #FF0000;
}

#article-list #article-list-menu>.btn.best {
    position: absolute;
    left: 1em;
    color: #0a7c0f;
    background-image: none;
    background-color: transparent;
    border-color: #0a7c0f;
}

#article-list #article-list-menu>.btn.best.enable {
    color: #fff;
    background-color: #10b917;
    border-color: #10b917;
}

header > #header-search-bar #header-search-input {
    padding: 6px 8px;
    font-size: 16px;
    border: 3px solid #66a7ff;
    flex: 1;
}

header > #header-search-bar #header-search-btn {
    border: none;
    background: transparent;
    color: #1579FF;
    font-size: 24px;
    font-weight: bold;
    width: 54px;
    margin-top: -1px;
}

#article-reply-area > .header h5 {
    font-size: 14px;
    color: #66a7ff;
    font-weight: bold;
}

#header-top-notice strong.notice-badge {
    background: #66a7ff;
    padding: 4px 8px;
    color: #fff;
    font-weight: bold;
}

.pagination>li>a, .pagination>li>span {
    color: #0044a0;
}

.pagination>.active>a {
    background-color: #337ab7;
    border-color: #337ab7;
}

#article-reply-area #reply-real-area .reply > .reply-header > .reply-writer.logged, #article-reply-area #reply-best-area .reply>.reply-header>.reply-writer.logged {
    font-weight: bold;
    color: #0044a0;
    cursor: pointer;
}

#board-info #viewers-area .fa-user:before {
    color: rgba(10, 59, 84, 0);
    content: url(https://cead115.github.io/malGD.github.io/구름_1818.png);
}
